<%= content_for :top_content do %>
  <div class="account-container register">
    <div class="content clearfix">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <h1>Signup for Free Account</h1>
        <div class="#">
          <p>Create your free account:</p>
          <div class="form-group">
            <%= f.text_field :name, autofocus: true , class: "form-control", placeholder: "Username"%>
          </div>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Email"%>
          </div>

          <div class="form-group">
            <!-- <%= f.label :password %> -->
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>

          <div class="form-group">
            <!-- <%= f.label :password_confirmation %><br /> -->
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
          </div>
        </div>

        <div class="login-actions">
          <!-- <span class="login-checkbox">
            <%= f.check_box :remember_me, class: "login-checkbox" %>
          </span> -->
          <%= f.submit class: "button btn btn-primary btn-large", value: "Register" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>


<!-- <div class="account-container register">

  <div class="content clearfix">

    <form action="#" method="post">

      <h1>Signup for Free Account</h1>

      <div class="login-fields">

        <p>Create your free account:</p>

        <div class="field">
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="firstname" value="" placeholder="First Name" class="login" />
        </div> <!-- /field -->

        <div class="field">
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="lastname" value="" placeholder="Last Name" class="login" />
        </div> <!-- /field -->


        <div class="field">
          <label for="email">Email Address:</label>
          <input type="text" id="email" name="email" value="" placeholder="Email" class="login"/>
        </div> <!-- /field -->

        <div class="field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" value="" placeholder="Password" class="login"/>
        </div> <!-- /field -->

        <div class="field">
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" id="confirm_password" name="confirm_password" value="" placeholder="Confirm Password" class="login"/>
        </div> <!-- /field -->

      </div> <!-- /login-fields -->

      <div class="login-actions">

        <span class="login-checkbox">
          <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
          <label class="choice" for="Field">Agree with the Terms & Conditions.</label>
        </span>

        <button class="button btn btn-primary btn-large">Register</button>

      </div> <!-- .actions -->

    </form>

  </div> <!-- /content -->

<!-- </div> /account-container -->
 -->
