<% content_for :top_content do %>
  <!-- <div class="subnavbar"></div> -->
  <div class="jumbotron">
    <h1 class="display-3">Welcome E-Vendor</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="m-y-md">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Post your ads</a>
    </p>
  </div>
<% end %>


<% content_for :extra_html do %>
  <%= render 'layouts/extra' %>
<% end %>

<% content_for :footer_html do %>
  <%= render 'layouts/footer' %>
<% end %>


