<% content_for :top_content do %>
  <div class="account-container" style="margin-bottom: 40px;">
    <div class="content clearfix">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1>Vendor Login</h1>
        <div class="login-fields">
          <p>Please provide your details</p>
          <div class="form-group">
            <!-- <label for="username">Email</label> -->
            <%= f.email_field :email, autofocus: true , class: "username-field form-control", placeholder: "Email"%>
            <!-- <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" /> -->
          </div> <!-- /field -->

          <div class="form-group">
            <!-- <label for="password">Password:</label> -->
            <%= f.password_field :password, autocomplete: "off", class: "password-field form-control", placeholder: "Password" %>
            <!-- <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field"/> -->
          </div> <!-- /password -->
        </div> <!-- /login-fields -->

        <div class="login-actions">
          <span class="login-checkbox">
            <% if devise_mapping.rememberable? -%>
              <div class="row">
                <div class="col-sm-2" style="margin-left: 5px;">
                  <%= f.check_box :remember_me, class: "login-checkbox" %>
                </div>
                <div class="col-sm-10" style="margin-left: -10px; margin-top: 2px;">
                  <label class="">Keep me signed in</label>
                </div>
              </div>
            <% end -%>
          </span>

          <div class="actions">
            <%= f.submit class: "button btn btn-success btn-large", value: "Sign in" %>
          </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>




